

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #212121;
  line-height: 1.5;
}

/* #region reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
}

/* #endregion */


#categories {
display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  border-radius: 8px;
    padding: 16px;
    width: 392px;
    height: 264px;
    background-color: #f6f6fe;
}
.list {
  gap: 8px;
  display: flex;
   flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item-header {
  font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.item-list {
 border: 1px solid #808080;
 border-radius: 4px;
 width: 360px;
 height: 40px;
font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
 
}
